{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <h1>Bienvenue sur Ma Page d'Accueil</h1>
    </header>
    <nav>
        <ul>
            <li><a href="http://localhost/POODoesntExist/index.php?page=accueil&action=show">Accueil</a></li>
            <li><a href="index.php?page=contact&action=create">Contact</a></li>
        </ul>
    </nav>
    <main>

    </main>
{% endblock %}
